watch_file ../highlighter/main.rs
watch_file ../highlighter/default.nix
watch_file ../highlighter/Cargo.lock
watch_file ../highlighter/Cargo.toml

watch_file ../math-render/main.rs
watch_file ../math-render/assets.nix
watch_file ../math-render/default.nix
watch_file ../math-render/Cargo.lock
watch_file ../math-render/Cargo.toml

watch_file ./shell.nix
use flake ../#nihil
