<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="theme-color" content="#000000" />
    <title>Moonythm</title>

    <link rel="stylesheet" href="/styles.css" />

    <!-- MathML -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/carloskiki/pulldown-latex@0.7.0/styles.min.css"
    />

    <link
      rel="preload"
      href="https://cdn.jsdelivr.net/gh/carloskiki/pulldown-latex@0.7.0/font/"
      as="font"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <header>
      <nav>
        <a href="/"><code>~</code></a> /
        <a href="/echoes"><code>echoes</code></a>
      </nav>
    </header>
    <main>{{content}}</main>
  </body>
</html>
