html {
  font: 100%/1.5 sans-serif;
}

#page-content {
  max-width: 70ch;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

blockquote {
  padding-left: 1.25rem;
  border-left: 3px solid;
}

ul,
ol {
  padding-left: 1rem;
}

/* {{{ Asides*/
.aside {
  margin: 1.5rem 0;
}

.aside-header {
  display: inline-flex;
  align-items: center;
}

img.aside-icon {
  /* display: inline-block; */
  height: 1.75rem;
  margin-right: 0.5rem;
  /* transform: translateY(-100px); */
}

.aside {
  background: #ead3ed;
  border-radius: 3px;
  padding: 0.5rem 0.5rem;
  box-sizing: border-box;
}

.aside-summary {
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
}

.aside-summary::marker {
  display: none;
}

.aside-summary:before {
  content: "▶";
  font-size: 0.75rem;
  padding: 0 0.75rem 0 0.25rem;
  box-sizing: border-box;
}

.aside-summary > .aside-title {
  text-decoration: underline;
}

.aside-summary > * {
  padding: 0;
  margin: 0;
}

.aside[open] .aside_summary:before {
  content: "▼";
}

.aside > .aside-content {
  padding-left: 1rem;
}
/* }}}*/
