<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"
    />
    <meta name="theme-color" content="#faebff" />

    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="/math/styles.css" />

    <!-- Meta -->
    <title>Moonythm | {{text_title}}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta property="og:site_name" content="Moonythm" />
    <meta property="og:title" content="{{text_title}}" />
    <meta property="twitter:title" content="{{text_title}}" />
    <meta property="og:description" content="{{text_description}}" />
    <meta property="twitter:description" content="{{text_description}}" />
    <meta property="og:url" content="{{url}}" />
    <meta
      name="fediverse:creator"
      content="@prescientmoon@social.moonythm.dev"
    />

    <link
      rel="alternate"
      type="application/rss+xml"
      title="Main RSS feed"
      href="/rss.xml"
    />
  </head>

  <body>
    <header>
      <nav>
        <a href="/"><code>~</code></a> /
        <a href="/echoes/"><code>echoes</code></a>
      </nav>
    </header>
    {{content}}
  </body>
</html>
