/* {{{ Fonts */
@font-face {
  font-family: "Computer Modern";
  src: url("/fonts/computer-modern/cm-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Computer Modern";
  src: url("/fonts/computer-modern/cm-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Computer Modern";
  src: url("/fonts/computer-modern/cm-italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Computer Modern";
  src: url("/fonts/computer-modern/cm-bolditalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Computer Modern Math";
  src: url("/fonts/computer-modern/cm-math.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cascadia Mono";
  src: url("/fonts/cascadia-code/CascadiaMono.woff2") format("woff2");
  font-style: normal;
}

@font-face {
  font-family: "Cascadia Mono";
  src: url("/fonts/cascadia-code/CascadiaMonoItalic.woff2") format("woff2");
  font-style: italic;
}
/* }}} */

:root {
  color-scheme: light dark;
}

/* Base page styling */
/* {{{ <body> */
body {
  max-width: 43rem;
  margin: auto;
  padding: 1rem;

  font:
    16pt/1.6 "Computer Modern",
    sans-serif;

  color: light-dark(black, white);
  background: light-dark(#fff3fe, #210f37);
}
/* }}} */
/* {{{ <pre> & <code> elements */
pre {
  font-family: "Cascadia Mono", monospace;
}

pre > code {
  display: block;
  padding: 1rem;
  overflow-x: scroll;
  text-align: left; /* Otherwise there's issues with code blocks inside figures */
}

code {
  background: light-dark(white, #000531);
  color: light-dark(black, white);
}

/* .aside code { */
/*   background: light-dark(#e4e9f5, #2f2f3a); */
/* } */
/* }}} */
/* {{{ <a> */
/* TODO: theme this everywhere */
a {
  color: light-dark(#0000ee, #92a3ff);

  &:visited {
    color: light-dark(#ba00ac, #ef87e7);
  }
}
/* }}} */
/* {{{ <hr> */
.article-content hr {
  border: none;
  margin: 2rem 0.5rem;
  border-top: 0.1rem solid light-dark(#9ca0b040, #6e738d40);
}
/* }}} */
/* {{{ Blockquotes */
blockquote {
  padding-left: 1.25rem;
  border-left: 3px solid;
  margin-left: 0;
  text-align: left; /* Otherwise there's issues with blockquotes inside figures */
}
/* }}} */
/* {{{ Lists */
ol {
  padding-left: 1.5rem;
}

ul {
  padding-left: 1rem;

  li {
    list-style-type: "⬦";
    padding-left: 0.5rem;
    list-style-position: outside;
  }
}
/* }}} */
/* {{{ Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  .heading-anchor {
    display: inline-block;
    text-decoration: none;
  }
}

h1 > .heading-anchor {
  transform: translateY(-5px);
}

h2 > .heading-anchor {
  transform: translateY(-2.5px);
}

h3 > .heading-anchor {
  transform: translateY(-2px);
}

/* https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/Heading_Elements#specifying_a_uniform_font_size_for_h1 */
h1 {
  margin-block: 0.67em;
  font-size: 2em;
}

main.smaller-headings {
  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.4em;
  }

  h3 {
    font-size: 1.17em;
  }
}
/* }}} */
/* {{{ Math */
math[display="block"] {
  margin: 1.5rem 0;
}
/* }}} */

/* Custom elements */
/* {{{ Articles */
article {
  max-width: 40rem;
  margin: auto;
}

.article-list {
  max-width: 36rem;
  margin: auto;
  list-style-type: none;

  ul {
    list-style-type: disc;
  }
}

.change-list {
  max-width: 36rem;
  margin: auto;
}
/* }}} */
