/* {{{ Fonts */
@font-face {
  font-family: "Computer Modern";
  src: url("/fonts/computer-modern/cm-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Computer Modern";
  src: url("/fonts/computer-modern/cm-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Computer Modern";
  src: url("/fonts/computer-modern/cm-italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Computer Modern";
  src: url("/fonts/computer-modern/cm-bolditalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Cascadia Mono";
  src: url("/fonts/cascadia-code/CascadiaMono.woff2") format("woff2");
  font-style: normal;
}

@font-face {
  font-family: "Cascadia Mono";
  src: url("/fonts/cascadia-code/CascadiaMonoItalic.woff2") format("woff2");
  font-style: italic;
}
/* }}} */

:root {
  color-scheme: light dark;
}

/* Base page styling */
/* {{{ <body> */
body {
  max-width: 1000px;
  margin: auto;
  padding: 2rem 2rem;

  font:
    16pt/1.6 "Computer Modern",
    sans-serif;

  color: light-dark(black, white);
  background: light-dark(#fff3fe, #210f37);

  --padding-left: 2rem;
  --padding-right: 2rem;
}
/* }}} */
/* {{{ <pre> & <code> elements */
pre {
  font-family: "Cascadia Mono", monospace;
  border: 1px solid #210f3750;
}

pre > code {
  display: block;
  padding: 1rem;
  overflow-x: scroll;
  text-align: left; /* Otherwise there's issues with code blocks inside figures */
}

code {
  background: light-dark(#ffe0e0, #000531);
  color: light-dark(black, white);
}

@media only screen and (max-width: 1000px) {
  pre {
    margin-left: calc(-1 * var(--padding-left));
    margin-right: calc(-1 * var(--padding-right));
    border-left: none;
    border-right: none;
  }

  pre > code {
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);
  }
}
/* }}} */
/* {{{ <a> */
/* TODO: theme this everywhere */
a {
  color: light-dark(#0000ee, #92a3ff);

  &:visited {
    color: light-dark(#ba00ac, #ef87e7);
  }
}
/* }}} */
/* {{{ <hr> */
.article-content hr {
  border: none;
  margin: 2rem 0.5rem;
  border-top: 0.1rem solid light-dark(#9ca0b040, #6e738d40);
}
/* }}} */
/* {{{ Blockquotes */
blockquote {
  padding-left: 1.25rem;
  border-left: 3px solid;
  margin-left: 0;
  text-align: left; /* Otherwise there's issues with blockquotes inside figures */
}
/* }}} */
/* {{{ Lists */
ol {
  padding-left: 1.5rem;
  --padding-left: calc(1.5rem + var(--padding-left));
}

ul {
  padding-left: 1rem;
  --padding-left: calc(1rem + var(--padding-left));

  li {
    list-style-type: "⬦";
    list-style-position: outside;

    padding-left: 0.5rem;
    --padding-left: calc(0.5rem + var(--padding-left));
  }
}
/* }}} */
/* {{{ Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  .heading-anchor {
    display: inline-block;
    text-decoration: none;
  }
}

h1 > .heading-anchor {
  transform: translateY(-5px);
}

h2 > .heading-anchor {
  transform: translateY(-2.5px);
}

h3 > .heading-anchor {
  transform: translateY(-2px);
}

/* https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/Heading_Elements#specifying_a_uniform_font_size_for_h1 */
h1 {
  margin-block: 0.67em;
  font-size: 2em;
}

main.smaller-headings {
  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.4em;
  }

  h3 {
    font-size: 1.17em;
  }
}
/* }}} */
/* {{{ Math */
math[display="block"] {
  margin: 1.5rem 0;
}
/* }}} */
/* {{{ Figures & images */
figure {
  text-align: center;
  margin: 2rem;
}

figure img {
  max-width: 100%;
  margin: auto;
  height: auto;
}

figure > figcaption {
  text-align: center;
}

figure > figcaption > p {
  margin-top: 0.25rem;
}

img {
  &.pixelated {
    image-rendering: pixelated;
  }
}

/* }}} */
/* {{{ Tables */
table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  border-collapse: collapse;
  margin: 1rem auto 2rem auto;

  &.rowsep-lines > tbody > tr:not(:last-child) {
    border-bottom: 1px solid light-dark(#88888850, #ffaaaa30);
  }

  &.rowsep-stripes > tbody > tr:nth-child(even) {
    background-color: rgba(128, 128, 128, 0.1);
  }

  & > thead > tr:first-child {
    border-bottom: 1px solid;
    border-right-color: light-dark(black, white);
  }
}

table > thead > tr > th,
table > tbody > tr > td {
  vertical-align: top;
  padding: 0.3rem 0.5rem;
  border-right: 1px solid;
  border-right-color: light-dark(black, white);

  &.align-left {
    text-align: left;
  }

  &.align-center {
    text-align: center;
  }

  &.align-right {
    text-align: right;
  }

  &.nowrap {
    white-space: nowrap;
  }

  &:last-child {
    border-right: none;
  }

  & > p,
  & > ul,
  & > ol {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
/* }}} */

/* Custom "components" */
/* {{{ Articles */
article {
  max-width: 900px;
  margin: auto;
}

.article-list {
  max-width: 850rem;
  margin: auto;
  list-style-type: none;

  ul {
    list-style-type: disc;
  }
}

.change-list {
  max-width: 900rem;
  margin: auto;
}
/* }}} */
/* {{{ Image grids */
ul.image-grid {
  display: grid;
  grid-template-columns: repeat(var(--image-grid-width), 1fr);

  & > li {
    padding: 0;
    list-style-type: none;
  }

  & > li > img {
    display: block;
  }
}
/* }}} */
